In [28]:
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
observations = pd.read_csv('observations.csv')

In [30]:
species_info = pd.read_csv('species_info.csv')

In [31]:
observations.shape

(23296, 3)

In [32]:
observations.describe()

       observations
count  23296.000000
mean     142.287904
std       69.890532
min        9.000000
25%       86.000000
50%      124.000000
75%      195.000000
max      321.000000

In [33]:
observations.head()

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

In [34]:
species_info.shape

(5824, 4)

In [35]:
species_info.describe()

,category,scientific_name,common_names,conservation_status
count,5824,5824,5824,191
unique,7,5541,5504,4
top,Vascular Plant,Castor canadensis,Brachythecium Moss,Species of Concern
freq,4470,3,7,161

In [36]:
species_info.head()

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN

In [37]:
species_info[['conservation_status','category']].value_counts()

conservation_status  category
Species of Concern   Bird                 72
                     Vascular Plant       43
                     Mammal               28
Endangered           Mammal                7
Species of Concern   Nonvascular Plant     5
                     Reptile               5
                     Fish                  4
Threatened           Fish                  4
Species of Concern   Amphibian             4
Endangered           Bird                  4
                     Fish                  3
In Recovery          Bird                  3
Threatened           Amphibian             2
                     Mammal                2
                     Vascular Plant        2
In Recovery          Mammal                1
Endangered           Vascular Plant        1
                     Amphibian             1
dtype: int64

In [38]:
df = pd.merge(observations, species_info, on = 'scientific_name', how = 'left')

In [39]:
df.head()

,scientific_name,park_name,observations,category,common_names,conservation_status
0,Vicia benghalensis,Great Smoky Mountains National Park,68,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",NaN
1,Neovison vison,Great Smoky Mountains National Park,77,Mammal,American Mink,NaN
2,Prunus subcordata,Yosemite National Park,138,Vascular Plant,Klamath Plum,NaN
3,Abutilon theophrasti,Bryce National Park,84,Vascular Plant,Velvetleaf,NaN
4,Githopsis specularioides,Great Smoky Mountains National Park,85,Vascular Plant,Common Bluecup,NaN

In [41]:
parks_endangered = df.groupby(['park_name', 'conservation_status'], as_index = False).sum('observations')

In [42]:
parks_endangered

                              park_name conservation_status  observations
0                   Bryce National Park          Endangered           619
1                   Bryce National Park         In Recovery           388
2                   Bryce National Park  Species of Concern         17011
3                   Bryce National Park          Threatened           591
4   Great Smoky Mountains National Park          Endangered           393
5   Great Smoky Mountains National Park         In Recovery           248
6   Great Smoky Mountains National Park  Species of Concern         11735
7   Great Smoky Mountains National Park          Threatened           440
8             Yellowstone National Park          Endangered          1558
9             Yellowstone National Park         In Recovery           889
10            Yellowstone National Park  Species of Concern         40677
11            Yellowstone National Park          Threatened          1459
12               Yosemite National Park          Endangered           943
13               Yosemite National Park         In Recovery           582
14               Yosemite National Park  Species of Concern         24539
15               Yosemite National Park          Threatened           849

In [60]:
parks = parks_endangered.loc[(parks_endangered['conservation_status'] == 'Endangered')| (parks_endangered['conservation_status'] =='Threatened') | (parks_endangered['conservation_status'] == 'Species of Concern')]

In [64]:
parks.sort_values(by='observations', ascending = False).reset_index(drop = True)

                              park_name conservation_status  observations
0             Yellowstone National Park  Species of Concern         40677
1                Yosemite National Park  Species of Concern         24539
2                   Bryce National Park  Species of Concern         17011
3   Great Smoky Mountains National Park  Species of Concern         11735
4             Yellowstone National Park          Endangered          1558
5             Yellowstone National Park          Threatened          1459
6                Yosemite National Park          Endangered           943
7                Yosemite National Park          Threatened           849
8                   Bryce National Park          Endangered           619
9                   Bryce National Park          Threatened           591
10  Great Smoky Mountains National Park          Threatened           440
11  Great Smoky Mountains National Park          Endangered           393

In [22]:
df['conservation_status'].fillna('Not endangered', inplace = True)

In [23]:
df[['conservation_status']].value_counts()

conservation_status
Not endangered         24752
Species of Concern       732
Endangered                80
Threatened                44
In Recovery               24
dtype: int64